# Display
fullscreen = false

# Emulation
emulation_speed = 1.0

# Rendering
background_color = e7e7e7
pixel_color = 070707

# Input (keyboard)
input_key_up = KEY_UP
input_key_left = KEY_LEFT
input_key_down = KEY_DOWN
input_key_right = KEY_RIGHT

# Input (gamepad)
input_gamepad_up = GAMEPAD_UP
input_gamepad_left = GAMEPAD_LEFT
input_gamepad_down = GAMEPAD_DOWN
input_gamepad_right = GAMEPAD_RIGHT

# Hotkeys
toggle_fullscreen = KEY_F